<form action="<%= url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="<%= value %>">

  <div class="profile-inputs">
		<input type="text" name="profile[high_school]" value="<%= @profile.high_school %>" class="profile-input" placeholder="High School*">

	  <input type="text" name="profile[college]" value="<%= @profile.college %>" class="profile-input" placeholder="College / University">

	  <input type="text" name="profile[employer]" value="<%= @profile.employer %>" class="profile-input" placeholder="Employer">

	  <input type="text" name="profile[current_city]" value="<%= @profile.current_city %>" class="profile-input" placeholder="Current City">

	  <input type="text" name="profile[hometown]" value="<%= @profile.hometown %>" class="profile-input" placeholder="Hometown">

	  <input type="text" name="profile[interests]" value="<%= @profile.interests %>" class="profile-input" placeholder="Interests">
		
		<p class="required-profile-field">(*) = required field</p>

	  <input type="submit" value="Submit Your Profile" class="profile-submit">
	</div>
</form>
