<div class="sign-in-page">
	<h2 class="sign-in-header">Fakebook</h2>
	
  <section class="sign-in">

    <form action="<%= session_url %>" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
			
			<div class="sign-in-photo-wrapper">
				<%= image_tag("default_profile_pic.jpeg", class: "sign-in-photo") %>
			</div>
			
      <div class="sign-in-buttons">
				<input type="text" name="user[email]" value="<%= @user.email %>" class="sign-in-input" placeholder="Email">

	      <input type="password" name="user[password]" class="sign-in-input" placeholder="Password">

	      <input type="submit" value="Sign In" class="sign-in-submit">
			</div>
    </form>
  </section>

  <div class="sign-up-button-wrapper">
		<%= button_to "Sign Up a New Account!", new_user_url, method: :get, class: "sign-up-button" %>
	</div>
</div>