<section class="wall header">
  <h3><%= @user.first_name + " " + @user.last_name %></h3>
  <h5><%= button_to "Edit Profile", edit_profile_url(current_user.profile.id), method: :get %></h5>

  <nav>
    <ul>
      <li><%= link_to "Wall", wall_user_url(@user.id) %></li>
      <li><%= link_to "Photos", photos_user_url(@user.id) %></li>
      <li><%= link_to "About", about_user_url(@user.id) %></li>
      <li><%= link_to "Friends", friends_user_url(@user.id) %></li>
    </ul>
  </nav>

</section>