<% @users.each do |user| %>
  <% received_friendship = current_user.received_friend_request(user) %>
  <% initiated_friendship = current_user.initiated_friend_request(user) %>

  <p>
    <% next if user.id == current_user.id %>

    <%= "#{user.first_name} #{user.last_name}" %>
    <% if current_user.no_requests?(user) %>
      <%= render "layouts/friend", user: user %>
    <% elsif initiated_friendship %>
      <%= button_to "Cancel Request", friendship_url(initiated_friendship), method: :delete %>
    <% elsif received_friendship %>
      <%= render "layouts/accept_friend", user: user, url: friendship_url(received_friendship) %>
      <%= button_to "Cancel Friend Request", friendship_url(received_friendship), method: :delete %>
    <% else %>
      <%= button_to "Unfriend", friendship_url(current_user.is_friend(user)), method: :delete %>
    <% end %>
  </p>

<% end %>