<%= render "header" %>

<div class="wall-wrapper">
  <div class="wall-sidebar">
    <section class="brief-about">
      <header class="about-header">About</header>

      <article>
        <ul class="about-list">
          <% user_college = @user.profile.college %>
          <li>
            Studied at <%= user_college == "" ? @user.profile.high_school : user_college %>
          </li>

          <li>
            Birthday is <%= "#{@user.birth_month} #{@user.birth_day}, #{@user.birth_year}" %>
          </li>

          <li>
            Its a <%= @user.gender == "Male" ? "He" : "She" %>
          </li>
        </ul>

      </article>
    </section>

    <section class="brief-photos">
      <header class="photo-header">Photos</header>

      <ul class="brief-photo-list group">
        <% if @user.photos.count >= 4 %>
          <% @user.photos.sample(4).each do |photo| %>
            <li><%= image_tag(photo.pic, class: "brief-photo") %></li>
          <% end %>
        <% elsif @user.photos.count > 0 %>
          <% 4.times do |t| %>
            <li><%= image_tag(@user.photos.sample(1)[0].pic, class: "brief-photo") %></li>
          <% end %>
        <% else %>
          <% 4.times do |t| %>
            <li><%= image_tag("default_profile_pic.jpeg", class: "brief-photo") %></li>
          <% end %>
        <% end %>
      </ul>
    </section>
  </div>

  <div class="wall-right">
    <section class="wall-update-status">
      <% if @user.id == current_user.id %>
        <h5>Update Status</h5>
        <%= render "layouts/new_status" %>
      <% elsif current_user.friends_ids.include?(@user.id) %>
        <h5>Post</h5>
        <%= render "layouts/new_post", user: @user %>
      <% end %>
    </section>

    <section class="main-wall">
      <article>
        <ul class="posts-list">
          <% @user.received_posts.includes(:photos, :receiver, sender: :profile_pic, :comments => [:user => [:profile_pic]]).order('created_at DESC').each do |post| %>
            <li>
              <%= render "layouts/post_view", post: post, show_page: false %>
            </li>
          <% end %>
        </ul>
      </article>
    </section>
  </div>
</div>

<script>
$(document).ready(function(event){
  $("#update-status-form").on("ajax:success", function(event, data){
    var $form = $(this);
    $(".posts-list").prepend(data);

    $form[0].reset();
  });
	
  $("#new-post-form").on("ajax:success", function(event, data){
    var $form = $(this);
    $(".posts-list").prepend(data);

    $form[0].reset();
  });

  $(".posts-list").on("ajax:success", ".delete-post-button", function(event, data){
    var $button = $(this);
    var $post = $button.closest(".post-wrapper");

    $post.remove();
  });

  $(".posts-list").on("ajax:success", "#like-form", function(event, data){
    var $form = $(this);
    var $ul = $form.closest(".edit-post");
    $ul.find(".like-button-posts").remove();

    $ul.append(data);
  });

  $(".posts-list").on("ajax:success", ".delete-like-button", function(event, data){
    var $button = $(this);
    var $ul = $button.closest(".edit-post");
    $ul.find(".like-button-posts").remove();

    $ul.append(data);
  });

  $(".posts-list").on("ajax:success", "#new-comment-form", function(event, data){
    var $form = $(this);
    var $ul = $form.closest(".everything-right");
    var $ul2 = $ul.find(".comments-list")

    $ul2.append(data);

    $form[0].reset();
  });

  $(".posts-list").on("ajax:success", ".delete-comment-button", function(event, data){
    var $button = $(this);
    var $comment = $button.closest(".list-comment");

    $comment.remove();
  });
	
	$(".wall-header-right").on("ajax:success", ".unfriend-button", function(event, data){
		$button = $(this);
		
		$div = $button.closest(".friendship-button");
		$div.empty();
		$div.append(data);
	});
	
	$(".wall-header-right").on("ajax:success", ".accept-friend-form", function(event, data){
		$form = $(this);
		
		$div = $form.closest(".friendship-button");
		$div.empty();
		$div.append(data);
	});
	
	$(".wall-header-right").on("ajax:success", ".friend-form", function(event, data){
		$form = $(this);
		
		$div = $form.closest(".friendship-button");
		$div.empty();
		$div.append(data);
	});
});
</script>