<%= render "header" %>

<section class="brief-about">
  <header class="about-header">About
  </header>

  <article>
    <ul>
      <% user_college = @user.profile.college %>
      <li>Studied at <%= user_college == "" ? @user.profile.high_school : user_college %></li>
    </ul>

  </article>
</section>

<section class="brief-photos">

</section>

<section class="update-status">
  <% if @user.id == current_user.id %>
    <h5>Update Status</h5>
    <%= render "layouts/new_status" %>
  <% elsif current_user.friends_ids.include?(@user.id) %>
    <h5>Post</h5>
    <%= render "layouts/new_post", user: @user %>
  <% end %>
</section>

<section class="main-wall">
  <header><h1>Wall</h1></header>
  <article>
    <ul>
      <% @user.received_posts.each do |post| %>
        <li>
          <%= render "layouts/post_view", post: post %>
        </li>
      <% end %>
    </ul>
  </article>
</section>

