<h1>Recent Notifications</h1>

<section class="notifications">
	<article>
		<ul>
			<% @notifications.reverse.each do |notification| %>
			<% notifiable_type = notification.notifiable_type %>
			<li>
				<%= link_to "#{notification.sender.first_name} #{notification.sender.last_name}", wall_user_url(notification.sender) %>
				<% if notifiable_type == "Post" %>
					has sent you a
					<%= link_to "post", wall_user_url(current_user) %>
				<% elsif notifiable_type == "Message" %>
					has sent you a
					<%= link_to "message", message_url(notification.notifiable_id) %>
				<% elsif notifiable_type == "Friendship" %>
					<% if notification.notifiable.is_pending == true %>
						has sent you a <%= link_to "friend request", "/friend-requests" %>
					<% else %>
						has confirmed your <b>friend request</b>
					<% end %>
				<% elsif notifiable_type == "Comment" %>
					has commented on your
					<%= link_to "post", wall_user_url(notification.notifiable.post.receiver_id) %>
				<% elsif notifiable_type == "Like" %>
					<% liked_obj = notification.notifiable.likeable %>
					<% if liked_obj.class.name == "Comment" %>
						<% if liked_obj.post.receiver.id == current_user.id %>
							likes your comment on
							<%= link_to "your wall", wall_user_url(liked_obj.post.receiver) %>
						<% else %>
							likes your comment on 
							<%= link_to "#{liked_obj.post.receiver.first_name}'s wall", wall_user_url(liked_obj.post.receiver) %>
						<% end %>
					<% elsif liked_obj.class.name == "Post" %>
						<% if liked_obj.receiver.id == current_user.id %>
							likes a post on
							<%= link_to "your wall", wall_user_url(liked_obj.post.receiver) %>
						<% else %>
							likes your post on 
							<%= link_to "#{liked_obj.post.receiver.first_name}'s wall", wall_user_url(liked_obj.post.receiver) %>
						<% end %>
					<% end %>
				<% end %>
			</li>
			
			<% end %>
		</ul>
	</article>
</section>
