<div class="body-wrapper">
  <section class="sidebar">

    <header class="sidebar-header">
      <h2><%= current_user.first_name + " " + current_user.last_name %></h5>
      <h5><%= link_to "Edit Profile", edit_profile_url(current_user.profile.id) %></h5>
    </header>

    <div class="favorites">
      <ul class="sidebar-list">
        <li><%= link_to "News Feed", root_url %></li>
        <li><%= link_to "Messages", messages_url %></li>
        <li>Events</li>
        <li><%= link_to "Photo", photos_user_url(current_user) %></li>
        <li><%= link_to "List of Users", users_url %></li>
      </ul>
    </div>
  </section>


  <section class="main">
    <header class="update-status">
      <h5>Update Status</h5>
      <%= render "layouts/new_status" %>
    </header>


    <article class="newsfeed">
      <h1>News Feed</h1>

      <ul>
        <% @news[(@news_feed_length * -1)..-1].reverse.each do |post| %>
          <li>
            <%= render "layouts/post_view", post: post %>
          </li>
        <% end %>
      </ul>

    </article>
  </section>
</div>