<div class="post-wrapper group">
  <div class="header-photo">
    <% sender = post.sender %>
    <% temp_profile_url = sender.profile_photo ? sender.profile_photo.pic : "default_profile_pic.jpeg" %>
    <%= link_to image_tag(temp_profile_url, class: "post-header-photo"), wall_user_url(sender) %>
  </div>

  <div class="everything-right">
    <div class="post-content group">
      <div class="post-header">
          <% unless post.sender_id == post.receiver_id %>
            <%= link_to "#{sender.first_name} #{sender.last_name}", wall_user_url(sender) %>
            &rarr;
          <% end %>

          <% receiver = post.receiver %>
          <%= link_to "#{receiver.first_name} #{receiver.last_name}", wall_user_url(receiver) %>
      </div>

      <div class="post-body">
        <%= post.body %>
      </div>
    </div>

    <div class="post-body-photo">
      <% photo = post.photos.first %>

      <% if photo %>
        <%= link_to image_tag(photo.pic, class: "post-photo"), photo_url(photo) %>
      <% end %>
    </div>

    <ul class="edit-post group">
			<li>
				<time>
					Posted <%= time_ago_in_words(post.created_at) %> ago
				</time>
			</li>

			<li>
	      <% if post.likes.count > 0 %>
					<span>
	          <%= pluralize(post.likes.count, "Like") %>
					</span>
	      <% end %>
			</li>

			<li>
        <% if current_user.friends_ids.include?(receiver.id) %>
          <%= render "layouts/like_button_post", post: post %>
        <% end %>
			</li>

			<li>
        <% if sender.id == current_user.id %>
          <%= button_to "Delete Post", post_url(post), method: :delete %>
        <% end %>
			</li>
    </ul>

    <div class="post-comments">
      <ul>
        <% post.comments.each do |comment| %>
          <li class="list-comment group">
            <% commenter = comment.user %>
            <div class="left-comment">
              <% temp_profile_url = commenter.profile_photo ? commenter.profile_photo.pic : "default_profile_pic.jpeg" %>
              <%= link_to image_tag(temp_profile_url, class: "comment-header-photo"), wall_user_url(commenter) %>
						</div>

		        <div class="right-comment">
							<%= link_to "#{commenter.first_name} #{commenter.last_name}", wall_user_url(commenter) %>

							<div class="comment-body">
								<%= comment.body %>
							</div>

							<ul class="edit-post group">
								<li>
									<time>
										Commented <%= time_ago_in_words(post.created_at) %> ago
									</time>
								</li>

								<li>
			            <% if comment.likes.count > 0 %>
										<span>
				              <%= pluralize(comment.likes.count, "Like") %>
										</span>
			            <% end %>
								</li>

								<li>
			            <%= render "layouts/like_button_comment", comment: comment %>
								</li>

								<li>
									<% if commenter.id == current_user.id %>
			              <%= button_to "Delete Comment", comment_url(comment), method: :delete %>
			            <% end %>
								</li>
							</ul>
						</div>
          </li>
        <% end %>
      </ul>
    </div>

    <% if current_user.friends_ids.include?(receiver.id) %>
      <div class="new-comment">
        <%= render "layouts/comment", post: post %>
      </div>
    <% end %>
  </div>
</div>