<div class="post-wrapper">
  <div class="original-post">
    <div class="post-header">
        <% sender = User.find(post.sender_id) %>
        <% unless post.sender_id == post.receiver_id %>
          <%= "#{sender.first_name} #{sender.last_name}" %>
          &rarr;
        <% end %>

        <% receiver = User.find(post.receiver_id) %>
        <%= "#{receiver.first_name} #{receiver.last_name}" %>
    </div>

    <div class="post-body">
      <%= post.body %>
      <%= image_tag(post.photos.first.pic(:big), class: "post-photo") %>
      <% if sender.id == current_user.id %>
        <%= button_to "Delete Post", post_url(post), method: :delete %>
      <% end %>

      <% if current_user.friends_ids.include?(receiver.id) %>
        <%= render "layouts/like_button_post", post: post %>
      <% end %>

      <% if post.likes.count > 0 %>
        <%= pluralize(post.likes.count, "like") %>
      <% end %>
    </div>
  </div>

  <div class="post-comments">
    <ul>
      <% post.comments.each do |comment| %>
        <li class="list-comment">
          <% commenter = User.find(comment.user_id) %>
          <p>
            <%= commenter.first_name + " " + commenter.last_name %>
          </p>
          <%= comment.body %>

          <% if commenter.id == current_user.id %>
            <%= button_to "Delete Comment", comment_url(comment), method: :delete %>
          <% end %>

          <%= render "layouts/like_button_comment", comment: comment %>

          <% if comment.likes.count > 0 %>
            <%= pluralize(comment.likes.count, "like") %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>

  <% if current_user.friends_ids.include?(receiver.id) %>
    <div class="new-comment">
      <%= render "layouts/comment", post: post %>
    </div>
  <% end %>
</div>