<div class="post-wrapper group">
  <div class="header-photo">
    <% sender = post.sender %>
    <% temp_profile_url = sender.profile_pic ? sender.profile_pic.pic : "default_profile_pic.jpeg" %>
    <%= link_to image_tag(temp_profile_url, class: "post-header-photo"), wall_user_url(sender) %>
  </div>

  <div class="everything-right">
    <div class="post-content group">
      <div class="post-header">
          <% unless post.sender_id == post.receiver_id %>
            <%= link_to "#{sender.first_name} #{sender.last_name}", wall_user_url(sender) %>
            &rarr;
          <% end %>

          <% receiver = post.receiver %>
          <%= link_to "#{receiver.first_name} #{receiver.last_name}", wall_user_url(receiver) %>
      </div>

      <div class="post-body">
        <%= post.body %>
      </div>
    </div>

    <div class="post-body-photo">
      <% photo = post.photos.first %>

      <% if photo %>
        <%= link_to image_tag(photo.pic, class: "post-photo"), photo_url(photo) %>
      <% end %>
    </div>

    <ul class="edit-post group">
			<li>
				<time>
					Posted <%= time_ago_in_words(post.created_at) %> ago
				</time>
			</li>
			
			<li>
				<% if post.sender.id == current_user.id && photo && show_page %>
				  <% if !current_user.profile_pic || photo.id != current_user.profile_pic.id %>
				    <%= button_to "Set this as Profile Pic", photo_profile_pictures_url(photo.id), method: :post %>
				  <% end %>
				<% end %>
			</li>
			
			<li>
        <% if sender.id == current_user.id %>
          <%= button_to "Delete Post", post_url(post), method: :delete, :remote => true, :form_class => "delete-post-button" %>
        <% end %>
			</li>

      <%= render "layouts/like_button_post", post: post %>
    </ul>

    <div class="post-comments">
      <ul class="comments-list">
        <% post.comments.each do |comment| %>
          <%= render "layouts/comment_view", comment: comment %>
        <% end %>
      </ul>
    </div>

    <% if current_user.friends_ids.include?(receiver.id) %>
      <div class="new-comment">
        <%= render "layouts/comment", post: post %>
      </div>
    <% end %>
  </div>
</div>
