<!DOCTYPE html>
<html>
<head>
  <title>FacebookLite</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<% if logged_in? %>
<body class="yield-wrapper">
<% else %>
<body>
<% end %>
	
  <% if logged_in? && !!current_user.profile %>
    <%= render "layouts/nav" %>
	<% elsif logged_in? && !current_user.profile %>
		<%= render "layouts/fake_nav" %>
  <% end %>
	
	<%= yield %>

</body>
</html>
